:root {
    --light: antiquewhite;
    --linklight: #efafaf;
    --dark: #191628;
    --lessdark: #1f2937;
    font-family: 'Times New Roman', monospace;
    --headerheight: 55px;
    --smalltext: 11px;
    --midtext: 14px;
    --hugetext: 32px;
    --halfscreen: 45vw;
}

*, ::before, ::after {
    margin: 0;
}

.contentimg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#header {
    height: var(--headerheight);
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
}

.logo {
    height: 50px;
    border: 2px solid var(--light);
    border-radius: 50%;
}

.lklogo {
    height: 40px;

}

a {
    text-decoration: none;
    color: var(--light);
}

.links {
    display: flex;
    gap: 25px;
    margin-right: 15px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 25px;
}

#content {
    margin-top: var(--headerheight);
    width: 100vw;
}

#general {
    background-color: var(--lessdark);
    color: var(--light);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    width: 100vw;
}

.rightside {
    padding: 25px;
    text-align: justify;
}

.rightside a {
    color: var(--linklight)
}

.image {
    height: 400px;
}

.image, .rightside {
    width: var(--halfscreen);
    padding-right: 25px;
}

@media screen and (max-width: 700px) and (min-width: 481px) {
    :root {
        --headerheight: 100px;
    }

    #header {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    :root {
        --smalltext: 8px;
        --midtext: 12px;
        --hugetext: 25px;
        --headerheight: 85px;
        --halfscreen: 80vw;
    }

    #header {
        flex-direction: column;
    }

    #general {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .image {
        height: 200px;
        margin: 20px 0 -35px 0;
        padding: 0;
    }

}